@import "tailwindcss";

/* Prevents text selection */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Customize scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 60px; /* Adjust width */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #a5c882; /* Scrollbar color */
  border-radius: 40px; /* Rounded edges */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #0c0c31; /* Track color */
}
